:root {
    --primary: #111;
    --text: #EEE;
    --secondary: #67F;
    --hover:#333;
    --glow: #FFF;
}

body {background-color: black;}

.container *, input[type="range"] {
    outline: 1px solid var(--secondary);
    outline-offset: -1px;
}