input {
    padding: 0.5em;
    font-size: 100%;
    color: #EEE;
    border-radius: 0.25em;
}

input {
    outline: rgb(255, 77, 121) solid 2px;
    border: none;
    background-color: #111;
}


/* The slider itself */

input[type="range"] {
    -webkit-appearance: none;
    appearance: none;
    height: 25px;
    background: #111;
    outline: none;
    -webkit-transition: .2s;
    transition: opacity .2s;
}


/* Mouse-over effects */

input[type="range"]:hover {
    opacity: 1;
    /* Fully shown on mouse-over */
}


/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    /* Override default look */
    appearance: none;
    width: 25px;
    /* Set a specific slider handle width */
    height: 25px;
    /* Slider handle height */
    background: rgb(255, 77, 121);
    /* Green background */
    cursor: pointer;
    /* Cursor on hover */
}

input[type="range"]::-moz-range-thumb {
    width: 25px;
    /* Set a specific slider handle width */
    height: 25px;
    /* Slider handle height */
    background: rgb(255, 77, 121);
    /* Green background */
    cursor: pointer;
    /* Cursor on hover */
    border: none;
}


/* Customize the label (the container) */

.container {
    display: block;
    position: relative;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.container input {
    position: absolute;
    cursor: pointer;
    height: 1em;
    width: 1em;
    margin: 0;
    opacity: 0;
}

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 1em;
    width: 1em;
    background-color: #111;
    border-radius: 50%;
    z-index: -1;
}


/* On mouse-over, add a grey background color */

.container:hover input~.checkmark {
    background-color: #666;
}


/* When the radio button is checked, add a blue background */

.container input:checked~.checkmark {
    background-color: rgb(255, 77, 121);
}


/* Create the indicator (the dot/circle - hidden when not checked) */

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}


/* Show the indicator (dot/circle) when checked */

.container input:checked~.checkmark:after {
    display: block;
}


/* Style the indicator (dot/circle) */

.container .checkmark:after {
    top: 0.25em;
    left: 0.25em;
    width: 0.5em;
    height: 0.5em;
    border-radius: 50%;
    background: hsl(345, 100%, 20%);
}