form {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}


form>* {
    margin: 1rem;
    
    min-width: 15rem;
    max-width: 3in;
    
    flex-basis: content;
    flex-grow: 1;
}

@media screen and (orientation:portrait) {
    form>* {
        min-width: 80%;
        max-width: 100%;
    }
}

form label {
    width: 1in;
    display: flex;
    align-items: center;
}

form label+* {
    width: 60%;
}

form span {
    display: flex;
    justify-content: space-evenly;
    /* margin: 0.5em 0; */
}

form>span>span {
    display: flex;
    flex-direction: column;
}

input[type="range"] {
    align-self: center;
}